.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

Nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #4b7783;
	color: white;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Home Page Css */

.hero {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Shop Page CSS */

.product-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Product Card CSS */
